{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block navbar %}
<form action="/logout" method="GET">
    <span class="navbar-text">{{ username }}</span>
    <button class="btn btn-outline-danger" type="submit">Logout</button>
</form>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2>Dashboard - Poslední naměřené hodnoty</h2>
            <div class="my-3">
                <h4>Poslední hodnota</h4>
                <p>Čas: {{ measurements[-1].timestamp }}, Teplota: {{ measurements[-1].temp }}°C</p>
            </div>
            <div class="my-3">
                <h4>Smazat Y posledních hodnot: </h4>
                <form action="/delete-last-values" method="post">
                    <div class="form-group">
                        <label for="numValues">Počet hodnot k smazání:</label>
                        <input type="number" class="form-control" id="numValues" name="numValues" min="1" required>
                    </div>
                    <input type="submit" class="btn btn-danger" value="Smazat">
                </form>
            </div>
            <div class="my-3">
                <h4>Tabulka posledních hodnot</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Čas</th>
                            <th>Teplota</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for measurement in measurements %}
                        <tr>
                            <td>{{ measurement.timestamp }}</td>
                            <td>{{ measurement.temp }}°C</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>
{% endblock %}
{% block scripts %}{% endblock %}
