{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block navbar %} 
<a href="#">MyApp</a>
<div>
    <a href="#">Login</a>
    <a href="/register">Register</a>
</div>
{% endblock %}

{% block content %}
<h2>Login</h2>
<form>
    <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" id="email">
    </div>
    <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password">
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}

